$li-font : #eeeeee;
$li-bg : #87d0f5;
$row-bg : #cf87f5;

%box-size {
  width: 50%;
  padding: 20px;
  border: 1px solid #eee;
}


ul {
  width: 50%;
  li {
    list-style: none;
    padding: 15px;
    border: 1px solid #eee;
  }
  li:hover {
    background-color: $li-bg;
    color: $li-font;
  }
}


.box-green {
  @extend %box-size;
  background-color: lightgreen;
  p {
    color: green;
  }
}

.box-blue {
  @extend %box-size;
  background-color: lightblue;
  p {
    color: blue;
  }
}

.box-yellow {
  @extend %box-size;
  background-color: lightsalmon;
  p {
    color: yellow;
  }
}

.row {
  display: flex;
  margin-top: 30px;
  width: 80%;
  height: 50px;
  background-color: $row-bg;
  .col-6 {
    border: solid 0.5px;
    width: 50%;
  }
  .col-4 {
    width: 30%;
  }
}

