@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&family=Pushster&display=swap');
.white-box {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.img-bg {
  width: 40%;
}

.img-bg-sm {
  width: 40%;
}
.border-bg {
  border-right: groove;
  border-color: rgba(0, 0, 0, 0.1)
}

.border-bg-bottom {
  border-bottom: solid;
  border-color: rgba(0, 0, 0, 0.1)
}

.name-font {
  font-family: 'Pushster', cursive;
}

.md-font {
  font-family: 'Bebas Neue', cursive;
}

i {
  font-size: smaller;
  color: #6fbaf8;
}

.btn-bg {
  background-color: #6fbaf8;
  color: white;
}

.nav-link {
  color: #6fbaf8;
}




@media (max-width: 767.5px) {
  .border-bg {
    border: none;
  }
}

@media (max-width: 580px) {
  .img-bg {
    width: 30%;
  }
  .img-bg-sm {
    width: 100%;
  }
}