.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading svg{
  font-size: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.11px;
  animation: text 1s ease-in-out  infinite;
}

@keyframes text {
  50%{opacity: .1;}
}

.loading polygon{
  stroke-dasharray: 22; /*선을 대쉬 형태로 만들어 값을 함*/
  stroke-dashoffset: 1; /*그림이 어떤 지점에서부터 시작할지 정해주는 속성*/
  animation: dash 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 
  infinite alternate-reverse;
}

@keyframes dash {
  to {stroke-dashoffset: 200;}
}